.container {
    width: 1440px;
    display: flex;
}

.menuBlock {
    background-color: #EFE7FF;
    width: 60%;
}
.ordersBlock {
    background-color: #DDA8F8;
    width: 40%;
}

.foodCard{
    display: flex;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    text-align: left;
    background-color: #705B9C;
    box-shadow: 0 5px 20px rgb(0 0 0 /80%);
}
.foodCard:hover {
    box-shadow: 0 5px 20px rgb(0 0 0 /90%);
    transition: 0.5s ease-in-out;

}

.imgFood {
    width: 100px;
    height: 100px;
}
#menuList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 100px;
    font-size: 30px;
}

h4 {
    text-align: center;
}

.sum {
    text-align: center;
}

.orderItem {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 70px;
    border-radius: 10px;
    background-color:#705B9C;
    margin: auto;
    margin-top: 20px;
    padding-top: 30px;
    font-size: 25px;

}

.title{
    width: 120px;
}
.count {
    width: 70px;
}
.price {
    width: 50px;
}